extend layout 

block content
  head 
    script(src='/scripts/game.js', defer)
  h1 Game #{id} Page (Authenticated)

  form(id="send-chat-form-id" onsubmit="sendMessage(); return false;")
    em Message
    input(type='text' name="message" required)
    input(type='submit' value='Send')  

  h1 Chat
  ul(id="chat-list-id")
