extend layout 

block content
  head 
    script(src='/scripts/game.js', defer)
  h1 Game #{id} Page (Authenticated)
  ul
    li
      a(href='/') Home
    li
      a(href='/authentication/login') Login
    li
      a(href='/authentication/sign-up') Sign Up
    li
      a(href='/lobby') Lobby
    li
      a(href='/games/42') Game (42)
  