extends layout

block content
  h1 Login Page (Unauthenticated)
  ul
    li
      a(href='/') Home
    li
      a(href='/authentication/login') Login
    li
      a(href='/authentication/sign-up') SignUp
    li
      a(href='/lobby') Lobby
    li
      a(href='/games/42') Game(42)