
ul.topnav
    li  
        a(href='/') UNO
    li
        a(href='/') Home
    li
        a(href='/lobby') Lobby
    li
        a(href='/games/42') Game - 42 
    li.right
        a(href='/authentication/login') Login
    li.right
        a(href='/authentication/register') Sign-up 
    