extends auth-layout

block content
    div.register
      div.register__container
        h1 REGISTER
        form(method='post' action='/authnetication/register')
          label
          div.register__textBox
            em Username  
            input(name='username' autocomplete='username' placeholder='Username')
          label
          div.register__textBox
            em Email  
            input(name='email' autocomplete='email' placeholder='Email address')
          label
          div.register__textBox
            em Password  
            input(name='password' type='password' autocomplete='new-password')
          input.register__btn(type='submit' value='Register')         

    