.list-container {
  display: flex;
}

.game-list-container {
  display: block;
}

.chat-list-container {
  display: block;
}

.game-list {
  border: 2px solid blue;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  font-size: 20px;
}

.chat-list {
  border: 2px solid white;
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  font-size: 20px;
}

.game-form-container {
  border: 2px solid blue;
}

.chat-form-container {
  border: 2px solid white;
}
.message {
  background-color: rgb(59, 245, 149);
  margin-bottom: 1px;
}

.message > a:hover {
  color: yellow;
}

.game-room-link:hover {
  color: yellow;
}
